{{ partial 'application/-loading-overlay'}}
{{ember-notify messageStyle="bootstrap"}}

{{ confirm-modal-unsaved }}
{{ confirm-modal-delete }}

{{#if session.isAuthenticated}}
    {{!-- User is logged in: display the application, with wrapping elements --}}
    {{ partial 'navigation' }}

    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                {{ outlet }}
            </div>
        </div>
    </div>
{{else}}
    {{!-- User is not logged in: show the splash screen, without wrappers --}}
    {{login-splash}}
{{/if}}
