<div class="sticky-top z-depth-1-half">
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    {{#link-to 'index' class='navbar-brand'}}radix{{/link-to}}

    <ul class="navbar-nav mr-auto">
      {{partial "navigation/comments"}}
      {{#if userManager.permissions.allowAll}}
      <li class="nav-item">
        <li class="nav-link disabled">|</li>
      </li>
      {{partial "navigation/identities"}}
      {{partial "navigation/demographics"}}
      {{partial "navigation/products"}}
      {{partial "navigation/forms"}}
      {{partial "navigation/integrations"}}
      {{partial "navigation/core"}}
      {{/if}}
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a href="https://as3.gitbook.io/radix" title="Application Documentation" class="nav-link" target="_blank" rel="noopener noreferrer">
            {{entypo-icon "text-document"}} <span class="d-none d-md-inline">Documentation</span>
          </a>
      </li>

      {{#if userManager.permissions}}
      {{select-application onAppChange="refreshApp"}}
      {{user-nav}}
      {{/if}}
    </ul>

  </nav>

  {{loading-progress class="bg-primary"}}
</div>
