<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#primary-navigation" aria-controls="primary-navigation" aria-expanded="false" aria-label="Toggle navigation">&#9776;</button>
        <div class="collapse navbar-toggleable-xs" id="primary-navigation">
            {{#link-to 'index' class='navbar-brand'}}Radix{{/link-to}}
            <ul class="nav navbar-nav">
                {{select-application onAppChange="refreshApp"}}
                {{#unless userManager.permissions.allowAll}}
                    {{-bootstrap/nav-item linkTo='comments'     label='Comments'}}
                {{else}}
                    {{-bootstrap/nav-item linkTo='comments'     label='Comments'}}
                    {{-bootstrap/nav-item linkTo='identity'     label='Identities'}}
                    {{-bootstrap/nav-item linkTo='demographic'  label='Demographics'}}
                    {{-bootstrap/nav-item linkTo='product'      label='Products'}}
                    {{-bootstrap/nav-item linkTo='form'         label='Forms'}}
                    {{-bootstrap/nav-item linkTo='integrations' label='Integrations'}}
                    {{-bootstrap/nav-item linkTo='core'         label='Core'}}
                {{/unless}}

            </ul>
            <ul class="nav navbar-nav pull-xs-right">
                {{user-nav}}
            </ul>
        </div>
    </div>
</nav>
