<div class="col-md-4">
    {{#-browse/list routeName='identity.external' canCreate=false items=model as |item|}}
        <small class="list-group-item-text">{{item.model.id}}</small>
        <h5 class="list-group-item-heading">{{item.model.givenName}} {{item.model.familyName}}</h5>

        {{#if item.model.primaryEmail}}
            <p class="list-group-item-text"><span>{{item.model.primaryEmail}}</span></p>
        {{/if}}

        <small class="list-group-item-text">{{item.model.createdDate}}</small>
    {{/-browse/list}}
</div>
<div class="col-md-6">{{ outlet }}</div>
