{% extends 'email.html.twig' %}

{% block headline %}

{% endblock %}

{% block body %}

    <h1>RMI</h1>

    <p>Welcome to {{values.get('application.settings.branding.name')}}! To help maintain the security of your account, your email address must be verified. To continue, <a href='{{values.get('verificationLink')}}'>click here to confirm</a> your new email address</a>. This link is valid for the next 24 hours.</p>

    <p>If you think you have received this email in error, please contact us at <a href="mailto:{{ values.get('application.settings.support.email') }}">{{ values.get('application.settings.support.name', values.get('application.settings.support.email')) }}</a>.</p>

    <p>Thanks for using {{values.get('application.settings.branding.name')}}!</p>

{% endblock %}
