<li class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex flex-row justify-content-between">

    <div class="d-flex flex-column">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column">
          <h4 class="mb-1">{{item.title ? item.title : "Comment"}}</h4>
          <p class="mb-0">{{item.body}}</p>
          <small>ID: {{item.id}}</small>
        </div>
      </div>
    </div>

    <div class="d-none d-md-flex flex-column align-items-end text-right">
      <div class="mt-auto">
        created date
        link to identity
        {{!-- {{user-attribution label="Updated" user=item.updatedBy date=item.updatedAt}} --}}
        {{!-- {{user-attribution label="Created" user=item.createdBy date=item.createdAt}} --}}
      </div>
    </div>

  </div>
</li>
