<div class="media">
  <img class="mr-3 d-none d-sm-inline" src="{{ avatar }}" style="width: 50px; height: 50px" alt="User avatar">
  <div class="media-body">
    <h5 class="mt-0">{{ title }}</h5>
    <p class="mb-3">{{item.body}}</p>
    <hr>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3" title="{{moment item.createdDate}}">
        {{entypo-icon "clock"}}
        <small class="ml-2">{{moment-from-now item.createdDate}}</small>
        </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        {{entypo-icon "user"}}
        <small class="ml-2">{{displayName}}</small>
        </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        {{entypo-icon "network"}}
        <small class="ml-2">{{item.ipAddress}}</small>
        </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        {{entypo-icon "eye"}}
        <small class="ml-2">
          {{ postVisibility }}: {{ postState}}
        </small>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col">
        {{partial "components/post-item-actions"}}
      </div>
    </div>
  </div>
</div>

{{post-edit-modal isOpen=isEditPostOpen model=item}}
{{post-delete-modal isOpen=isDeletePostOpen model=item}}
{{post-account-modal isOpen=isModerateAccountOpen model=item.account}}
