<div class="media">
  <img class="mr-3" src="{{ avatar }}" style="width: 50px; height: 50px" alt="User avatar">
  <div class="media-body">
    <h5 class="mt-0">{{ title }}</h5>
    <p class="mb-3">{{item.body}}</p>
    <hr>
    <div class="d-flex flex-fill flex-row">
      <small class="flex-fill" title="{{moment item.createdDate}}">{{entypo-icon "clock"}}  <code>{{moment-from-now item.createdDate}}</code></small>
      <small class="flex-fill">{{entypo-icon "user"}} <code>{{displayName}}</code></small>
      <small class="flex-fill">{{entypo-icon "network"}} <code>{{item.ipAddress}}</code></small>
      <small class="flex-fill">{{entypo-icon "eye"}} <code>
        {{ postVisibility }}: {{ postState}}
      </code></small>
      <div class="flex-fill text-center d-sm-inline">
        {{partial "components/post-item-actions"}}
      </div>
    </div>
  </div>
</div>

{{post-edit-modal isOpen=isEditPostOpen model=item}}
{{post-delete-modal isOpen=isDeletePostOpen model=item}}
{{post-account-modal isOpen=isModerateAccountOpen model=item.account}}
