{{#bs-modal show=isOpen onHidden=(action "clearPassword") as |modal|}}
  <form {{action "changePassword" on="submit"}}>
    {{#modal.header}}
      <h5 class="modal-title">Set a new Password</h5>
    {{/modal.header}}

    {{#modal.body}}
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Email Address</label>
            {{input type="email" autocomplete="username email" class="form-control" value=email disabled=true}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">New Password</label>
            <div class="input-group">
              {{#if showPassword}}
                {{input type="text" required=true minlength="6" autocomplete="new_password" class="form-control" value=password placeholder="Must be a minimum length of six characters"}}
                <div class="input-group-append">
                  <button type="button" class="btn btn-sm btn-primary" {{action "toggleShowPassword"}}>
                    {{entypo-icon "eye-with-line" title="Hide password"}}
                  </button>
                </div>
              {{else}}
                {{input type="password" required=true minlength="6" autocomplete="new-password" class="form-control" value=password placeholder="Must be a minimum length of six characters"}}
                <div class="input-group-append">
                  <button type="button" class="btn btn-sm btn-primary" {{action "toggleShowPassword"}}>
                    {{entypo-icon "eye" title="Show password"}}
                  </button>
                </div>
              {{/if}}
            </div>
          </div>
          {{#unless showPassword}}
          <div class="form-group mb-0">
            <label for="name">Confirm Password</label>
            {{input type="password" required=true minlength="6" autocomplete="new-password" class="form-control" value=confirm placeholder="Confirm the password from above"}}
          </div>
          {{/unless}}
          {{#if (eq canChange false)}}
            <small class="d-block text-info mt-3">In order to save, {{ reasonForPreventChange }}</small>
          {{/if}}
        </div>
      </div>
    {{/modal.body}}

    {{#modal.footer}}
      <button class="btn btn-success" type="submit" disabled={{isSubmitDisabled}}>
        {{entypo-icon "check"}} Set password
      </button>
    {{/modal.footer}}
    {{progress-bar show=isActionRunning}}
  </form>
{{/bs-modal}}
