{{#if session.isAuthenticated}}
  {{#if canSelect}}
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button">
      {{entypo-icon "home"}} <span class="d-none d-lg-inline">{{session.data.application.name}}</span>
    </a>

    <div class="dropdown-menu dropdown-menu-left">
      {{#each toSelect as |app|}}
        <a class="dropdown-item" {{action 'changeApp' app}}>{{app.name}}</a>
      {{/each}}
    </div>
  {{else}}
    <span class="nav-link d-none d-lg-block">
      {{entypo-icon "home"}}
      <span class="d-none d-md-inline">{{session.data.application.name}}</span>
    </span>
  {{/if}}
{{/if}}
