{{#if session.isAuthenticated}}
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button">
      {{entypo-icon "user"}} <span class="d-none d-md-inline">{{userManager.user.givenName}} {{userManager.user.familyName}}</span>
  </a>
  <div class="dropdown-menu dropdown-menu-left">

    <a class="dropdown-item dropdown-item d-flex justify-content-between" href="javascript:void(0)" title="Change Password" {{action "displayChangePassword"}}>
      Change Password
      {{entypo-icon "key"}}
    </a>

      {{#link-to 'user.settings' class='dropdown-item d-flex justify-content-between' title="User Settings"}}
          Update Profile
          {{entypo-icon "v-card"}}
      {{/link-to}}

      <div class="dropdown-divider"></div>

    <a class="dropdown-item d-flex justify-content-between" href="javascript:void(0)" title="Logout of the Application" {{action "logout"}}>
      Logout
      {{entypo-icon "log-out"}}
    </a>
  </div>

  {{change-password-modal isOpen=isChangePasswordOpen model=userManager.user}}
{{/if}}
