<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Modlr</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="modlr/config/environment" content="{{ emberConfig|raw }}">

        <base href="/manage">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/yeti/bootstrap.min.css">

        {% stylesheets
            '//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css'
            '@AppBundle/Resources/modlr/dist/assets/vendor.css'
            '@AppBundle/Resources/modlr/dist/assets/modlr.css'
        filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    </head>
    <body>
        <div id="modlr"></div>

        {% javascripts
            '@AppBundle/Resources/modlr/dist/assets/vendor.js'
            '@AppBundle/Resources/modlr/dist/assets/modlr.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>
