{{#if model.hasDirtyAttributes}}
    {{#if model.isSaving}}
        <button class="spin"><i class="ion-radio-waves"></i></button>
    {{else}}
        <button class="unsaved" {{action 'saveModel' model}}><i class="ion-android-done"></i></button>
        <button class="undo" {{action 'undoChanges' model}}><i class="ion-reply"></i></button>
    {{/if}}
{{else}}
    <button class="saved" {{action 'saveModel' model}}><i class="ion-android-done"></i></button>
{{/if}}

{{!-- <button class="delete" {{action 'delete' model type}}><i class="ion-android-close"></i></button> --}}
