{{outlet 'navigation'}}

{{outlet}}

{{outlet 'edit'}}
{{outlet 'list'}}

<section class="aside">{{outlet 'aside'}}</section>

{{outlet 'modal'}}

<div class="overlay">
    <button class="spin"><i class="ion-radio-waves"></i></button>
</div>

{{ember-notify messageStyle='bootstrap'}}
