<section class="edit">
    {{outlet}}
</section>

<section class="list">
    <header>
        <div class="center"></div>
    </header>
    <main>
        <ul>
            {{#each model as |item|}}
                <li data-is-dirty={{item.hasDirtyAttributes}}>
                    {{#link-to 'model.edit' item.id}}
                        <small class="details">{{item.id}}</small>
                        <p class="title">{{{item.name}}}</p>
                    {{/link-to}}
                </li>
            {{else}}
                <li class="placeholder"><p class="title">No Results Found</p></li>
            {{/each}}
        </ul>
    </main>
    <div class="actions">
        {{#link-to 'model.create'}}<button class="create"><i class="ion-plus"></i></button>{{/link-to}}
    </div>
    <footer>
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
    </footer>
</section>
