{{ partial 'application/-loading-overlay'}}

{{ confirm-modal-unsaved }}
{{ confirm-modal-delete }}

{{#if session.isAuthenticated}}
    {{!-- User is logged in: display the application, with wrapping elements --}}
    {{ partial 'application/-nav' }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                {{!-- {{select-application}} --}}
                {{ outlet }}
            </div>
        </div>
    </div>
{{else}}
    {{!-- User is not logged in: show the splash screen, without wrappers --}}
    {{login-splash}}
{{/if}}



