<div class="card">
  <ul class="nav nav-pills card-header">
      {{#each tabs as |tab|}}
          {{edit-model/tab icon=tab.icon text=tab.text target=tab.key active=tab.active}}
      {{/each}}

    <button type="button" class="close" aria-label="Close" {{ action 'close' }}>
      <span aria-hidden="true">&times;</span>
    </button>
  </ul>

  <form>
    <div class="card-body">
      {{#each tabs as |tab|}}
        {{edit-model/tab-content key=tab.key  model=model template=tab.template}}
      {{/each}}
    </div>
    <div class="card-footer">
      {{form-button/save onClick='save'}}

      {{#if model.isNew}}
        {{form-button/discard onClick='close'}}
      {{else}}
        {{form-button/undo onClick='undo'}}
      {{/if}}
    </div>
  </form>
</div>
