
<button class="btn btn-block btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <span class="d-none d-md-inline">Moderate</span>
  <span class="d-inline d-md-none d-lg-none">{{entypo-icon "pencil" class="ml-1"}}</span>
</button>

<div class="dropdown-menu">
  <h6 class="dropdown-header">Post Actions</h6>

  <a href="javascript:void(0)" class="d-flex justify-content-between dropdown-item" {{action "edit"}}>
    Edit {{entypo-icon "pencil" class="ml-1"}}
  </a>

  {{#if item.flagged}}
    <a href="javascript:void(0)" class="d-flex justify-content-between dropdown-item" {{action "unflag"}}>
      Unflag {{entypo-icon "flag" class="ml-1"}}
    </a>
  {{else}}
    <a href="javascript:void(0)" class="d-flex justify-content-between dropdown-item" {{action "flag"}}>
      Flag {{entypo-icon "flag" class="ml-1"}}
    </a>
  {{/if}}

  {{#if item.approved}}
    <a href="javascript:void(0)" class="d-flex justify-content-between dropdown-item" {{action "unapprove"}}>
      Hide {{entypo-icon "eye-with-line" class="ml-1"}}
    </a>
  {{else}}
    <a href="javascript:void(0)" class="d-flex justify-content-between dropdown-item" {{action "approve"}}>
      Show {{entypo-icon "eye" class="ml-1"}}
    </a>
  {{/if}}

  {{#if item.deleted}}
    <a href="javascript:void(0)" class="d-flex justify-content-between dropdown-item" {{action "undelete"}}>
      Undelete {{entypo-icon "trash" class="ml-1"}}
    </a>
  {{else}}
    <a href="javascript:void(0)" class="d-flex justify-content-between dropdown-item" {{action "delete"}}>
      Delete {{entypo-icon "trash" class="ml-1"}}
    </a>
  {{/if}}

  <h6 class="dropdown-header">User Actions</h6>
  {{#if item.account}}
    <a href="javascript:void(0)" class="d-flex justify-content-between dropdown-item" {{action "moderate"}}>
      Edit {{entypo-icon "user" class="ml-1"}}
    </a>
    {{#if item.account.settings.shadowbanned}}
      <a href="javascript:void(0)" class="d-flex justify-content-between dropdown-item" {{action "unban"}}>
        Unban {{entypo-icon "check" class="ml-1"}}
      </a>
    {{else}}
      <a href="javascript:void(0)" class="d-flex justify-content-between dropdown-item" {{action "ban"}}>
        Ban {{entypo-icon "block" class="ml-1"}}
      </a>
    {{/if}}
  {{else}}
    <div class="dropdown-item text-muted">No actions available</div>
  {{/if}}

</div>
