<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs pull-xs-left">
            {{card-tab-item icon='ion-gear-a' text='Settings' active=true target='settings'}}
            {{card-tab-item icon='ion-information-circled' text='Info' target='info'}}
        </ul>
        {{form-close class='pull-right' transitionTo='integrations.omeda'}}
    </div>
    <form>
        <div class="card-block">
            {{card-tab-block key='settings' model=model  template='integrations/omeda/-settings'}}
            {{card-tab-block key='info'    model=model  template='integrations/omeda/-info'}}
        </div>
        <div class="card-footer">
            {{model-actions/save model=model transitionTo='integrations.omeda.edit'}}

            {{#if model.isNew}}
                {{model-actions/undo model=model confirmValue=model.name transitionTo='integrations.omeda'}}
            {{else}}
                {{model-actions/undo model=model confirmValue=model.name transitionTo='integrations.omeda.edit'}}
            {{/if}}
        </div>
    </form>
</div>
