<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs pull-xs-left">
            {{card-tab-item icon='ion-document' text='General' active=true target='general'}}
            {{card-tab-item icon='ion-pull-request' text='Mappings' target='mappings'}}
            {{card-tab-item icon='ion-information-circled' text='Info' target='info'}}
        </ul>
        {{form-close class='pull-right' transitionTo='demographic.choices'}}
    </div>
    <form>
        <div class="card-block">
            {{card-tab-block key='general' model=model  template='demographic/choices/-general'}}
            {{card-tab-block key='mappings'    model=model  template='demographic/choices/-mappings'}}
            {{card-tab-block key='info'    model=model  template='demographic/choices/-info'}}
        </div>
        <div class="card-footer">
            {{model-actions/save model=model transitionTo='demographic.choices.edit'}}

            {{#if model.isNew}}
                {{model-actions/undo model=model confirmValue=model.name transitionTo='demographic.choices'}}
            {{else}}
                {{model-actions/undo model=model confirmValue=model.name transitionTo='demographic.choices.edit'}}
            {{/if}}
        </div>
    </form>
</div>
