{% extends 'email.html.twig' %}

{% block headline %}
    {% if values.get('identity.givenName') %}
        Hello, {{ values.get('identity.givenName') }}!
    {% else %}
        Hello!
    {% endif %}
{% endblock %}

{% block body %}

    <p>A request to reset your password was received. To set a new password, follow the steps provided by clicking the link below.</p>
    <p><a href="{{values.get('resetLink')}}">{{values.get('resetLink')}}</a></p>

    <p>If you believe you've received this email in error, please contact us at <a href='mailto:{{ values.get('application.settings.support.email') }}'>{{ values.get('application.settings.support.name', values.get('application.settings.support.email')) }}</a>.</p>

    <p>Thanks for using {{values.get('application.settings.branding.name')}}!</p>

{% endblock %}
