{% extends 'email.html.twig' %}

{% block headline %}{{ values.get('title') }}{% endblock %}

{% block body %}
    {% block notify_header %}
    <p>This email is being sent to you because a user submitted this form on <a href="{{ values.get('submission.referringHost') }}">{{values.get('application.settings.branding.name')}}</a>. To ensure that you receive future automatic notifications, please whitelist<br>{{ values.get('application.settings.notifications.email') }}.</p>
    {% endblock %}

    {% block notify_details %}
    {% include 'template-notify/partials/submission-details.html.twig' with { 'values' : values } %}
    {% endblock %}

    {% block notify_footer %}
    <p>The page that the user submitted the form on can be found <a href="{{ values.get('submission.referringHref') }}">here</a>.
    {% endblock %}
{% endblock %}
